<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.etc.dao.IUserDao">
     <resultMap type="User" id="userMap">
        <result column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_pwd" property="user_pwd"/>
        <result column="user_sex" property="user_sex"/>
        <result column="user_phone" property="user_phone"/>
        <result column="user_email" property="user_email"/>
        <result column="user_addr" property="user_addr"/>
     </resultMap>
      <select id="getOneUser" parameterType="int" 
         resultMap="userMap">
         select * from user where user_id=#{id}
     </select>
     <update id="update" parameterType="User">
        update user set user_pwd = #{user_pwd}, user_sex = #{user_sex}, user_phone = #{user_phone},user_email = #{user_email},user_hobby = #{user_hobby} where user_id = #{user_id}
     </update>
  </mapper>